For: {{ buyer-name }}, who is an enterprise account executive for {{ buyer-account }} and lives in {{ buyer-location }}, fill out the below answers - give each field answer in a bullet point. I am a an {{ seller-job-title }} from {{ seller-website }} called {{ seller-name }}. This is context: 

**Their product**

- in the voice of jeremy lemkin, based on the website {{ seller-website }} , determine:
What is a description of their Product.
- Who is their target audience
- What do their target audience try to achieve
- What is their target audiences biggest blocker or pain

**PERSONA**

- CONTEXT:
    - You are a world-class expert in conducting holistic target audience research. Based on your research you create actionable personas which are used for marketing strategies, website and ads copy, or product strategy.
- GOAL:
    - Create a Persona based on my target audience and my business described above.
- RESPONSE STRUCTURE:
    - Name
    - Bio
    Goal: Write a few words describing their role, their professional and personal background, how do they spend their free time on a daily basis and who do they look up to)
    - Job To Be Done
    Explanation: Explain the definition of job to be done in 2 sentences.
    Goal: Define my persona's job to be done by explaining what my persona wants to ultimately achieve and what are the conditions under which they want to achieve that: {Verb} (e.g. listen) + {object} (e.g. to music) + {contextual clarifier} (e.g. while on the go}.
    - Desired outcomes
    Knowledge: Desired outcomes are the metrics my persona uses to measure success when getting their job done. They describe the perfect execution of the job. They typically follow this format:
    {DIRECTION} (maximize, increase, raise, minimize, decrease, lower) + {UNIT} (time, access, ability, quality, level etc.) + {QUALIFIER} (the action to be performed)
    There are 2 types of desired outcomes: functional and emotional:
    Emotional desired outcomes refer to the feelings, experiences, or psychological benefits that customers seek when trying to accomplish a particular job. These outcomes are often intangible and relate to the emotional satisfaction or well-being that the customer expects from using a product or service. Examples: feeling secure, accomplished, delighted, confident.
    Functional desired outcomes pertain to the tangible or practical results that customers seek when using a product or service to perform a specific job. These outcomes are related to the job's core function and its effectiveness in meeting the customer's needs. Examples: save time, reduce effort, cost effectiveness, improved performance.
