Use this frustation: {{ thread-header }}

Fill in the blanks for this sentence. Hey blank1, I’m blank2 and I help people like you across blank3 to blank4.

Blank1 is their name which is {{ buyer-name }}. Blank2 is my name which is {{ seller-name }}. Blank3 is the industry persona or job type that the person does. Blank 4 is the most frustrating situation. blank3 and should be no more than 10 words. 

Wrap your answer in an <i> tag, but don't use any other html formatting.
