Context: The goal of this section is to grab the attention of my persona by telling them my product is the best way to get their job done and achieve my persona's most crucial functional and/or emotional desired outcomes.

Headline: Write a headline (max 10 words) that clearly explains the unique promise of my product. Explain that my persona will achieve their job to be done and/or desired outcomes in a unique way. Be specific and decisive. Don't use platitudes and generalizations. Make it relatable to my persona but don't mention any names.

Only write the one sentence (max 10 words). Don't include quotation marks
