Explain exactly what my product is and how it removes my persona's specific pain or frustration from the process of getting their job done. Explain how my product or service features benefit my persona. Be specific and decisive. Don't say platitudes and generalizations. 

Don't repeat the same point here {{ thread-2-header }}.

Wrap your answer in an <i> tag, but don't use any other html formatting. Don't include quotation marks
