CONTEXT: The goal of this section is to compare the way my persona has been trying to get their job done with the new way that my product provides. Show them how much frustration they had to go through to ge their job done the old way and introduce them to the new way where my product makes it delightful and easy.

Write a short headline that will make it clear that you're comparing the old way vs my product way